/* Tag selector to select the 'body' element */
body {
  background-color: #00b3e6;
}


div {
    width: 700px;
    font-family: Helvetica Neue;
    background: white;
    padding: 30px;
    margin: auto;
}


#main-header {
  font-size: 22px;
  color:red;
}

.perspective-questions {
  font-style: italic;
}
